# Hi World! Hi Lance!

This tutorial will help you make sure you have Lance installed correctly <br>
and you're ready to do some basic analytics

## Installation

Installing Lance is easy via pip

pip install --quiet pylance

## Verify

In [1]:
import lance
lance.__version__

'0.2.2.dev0'

## Working with Lance data

In [2]:
uri = 's3://eto-public/datasets/oxford_pet/oxford_pet.lance'
oxford_pet = lance.dataset(uri)

Lance is Apache Arrow compatible

In [3]:
import pyarrow.dataset as ds
isinstance(oxford_pet, ds.Dataset)

True

And we can immediately query it with duckdb

In [4]:
import duckdb
con = duckdb.connect()
con.query("""
SELECT class, count(1) as cnt 
FROM oxford_pet 
GROUP BY 1
""").to_df().head()

           class  cnt
0     pomeranian  200
1            pug  200
2        Ragdoll  200
3   Russian_Blue  200
4  saint_bernard  200

## Congrats

Now you have Lance setup and you're ready to work with your computer vision data
using familiar tools like pandas, numpy, SQL via duckdb!