# Hi World! Hi Lance!

<a target="_blank" href="https://colab.research.google.com/github/eto-ai/lance/blob/main/python/notebooks/01_hello_world.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

This tutorial will help you make sure you have Lance installed correctly <br>
and you're ready to do some basic analytics

## Installation

Installing Lance is easy via pip

In [ ]:
!pip install --quiet pylance duckdb

## Verify

In [ ]:
import lance
lance.__version__

'0.2.5'

## Working with Lance data

In [ ]:
uri = 's3://eto-public/datasets/oxford_pet/oxford_pet.lance'
oxford_pet = lance.dataset(uri)

Lance is [Apache Arrow](https://arrow.apache.org/) compatible

In [ ]:
import pyarrow.dataset as ds
isinstance(oxford_pet, ds.Dataset)

True

And we can immediately query it with duckdb

In [ ]:
import duckdb

duckdb.query("""
SELECT class, count(1) as cnt 
FROM oxford_pet 
GROUP BY 1
""").to_df().head()

           class  cnt
0     pomeranian  200
1            pug  200
2        Ragdoll  200
3   Russian_Blue  200
4  saint_bernard  200

## Congrats

Now you have Lance setup and you're ready to work with your computer vision data
using familiar tools like pandas, numpy, SQL via duckdb!