# Hi World! Hi Lance!

<a target="_blank" href="https://colab.research.google.com/github/eto-ai/lance/blob/main/python/notebooks/01_hello_world.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

This tutorial will help you make sure you have Lance installed correctly <br>
and you're ready to do some basic analytics

## Installation

Installing Lance is easy via pip

In [1]:
!pip install --quiet pylance duckdb

## Verify

In [2]:
import lance
lance.__version__

'0.2.7.dev0'

## Working with Lance data

We have some data setup in a public s3 bucket <br/>
Any valid s3 credentials can be used to access this bucket <br/>
In case you don't have s3 credentials setup, you can always download
the data locally

In [3]:
# If you don't have s3 credentials setup, 
# change `USE_LOCAL` to True
USE_LOCAL = False

In [4]:
if not USE_LOCAL:
    uri = 's3://eto-public/datasets/oxford_pet/oxford_pet.lance'
else:
    uri  = "/tmp/oxford_pet.lance"
    !curl https://eto-public.s3.us-west-2.amazonaws.com/datasets/oxford_pet/oxford_pet.lance.tar.gz -o /tmp/oxford_pet.lance.tar.gz
    !tar -xvf /tmp/oxford_pet.lance.tar.gz -C /tmp/
    
oxford_pet = lance.dataset(uri)

Lance is [Apache Arrow](https://arrow.apache.org/) compatible

In [5]:
import pyarrow.dataset as ds
isinstance(oxford_pet, ds.Dataset)

True

And we can immediately query it with duckdb

In [6]:
import duckdb

duckdb.query("""
SELECT class, count(1) as cnt 
FROM oxford_pet 
GROUP BY 1
""").to_df().head()

                       class  cnt
0                 Abyssinian  198
1           american_bulldog  200
2  american_pit_bull_terrier  200
3               basset_hound  200
4                     beagle  200

## Congrats

Now you have Lance setup and you're ready to work with your computer vision data
using familiar tools like pandas, numpy, SQL via duckdb!